<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @reply.comment %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @reply.subject %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user %>
</p>

<p>
  <strong>User nickname:</strong>
  <%= @reply.user_nickname %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @reply.contents %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
