<p id="notice"><%= notice %></p>

<h1>Valuations</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>User</th>
      <th>User nickname</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valuations.each do |valuation| %>
      <tr>
        <td><%= valuation.subject %></td>
        <td><%= valuation.user %></td>
        <td><%= valuation.user_nickname %></td>
        <td><%= valuation.price %></td>
        <td><%= link_to 'Show', valuation %></td>
        <td><%= link_to 'Edit', edit_valuation_path(valuation) %></td>
        <td><%= link_to 'Destroy', valuation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valuation', new_valuation_path %>
