<!DOCTYPE html>
<html>
  <head>
    <title>니치모평</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if flash[:alert] %> <!-- flash[:status] && flash[:status] == 404 && -->
        <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= render partial: 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
