<!DOCTYPE html>
<html>
  <head>
    <title>니치모평</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if flash[:alert] %> <!-- flash[:status] && flash[:status] == 404 && -->
        <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle"></button>-->
          <a href="/" class="navbar-brand" id="afafaf">니치모평</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active" name="selected_hashtag" id="selected_hashtag_0"><%= link_to '전체', root_path %></li>
            <% @hashtags.each do |h| %>
                <li id="selected_hashtag_<%= h.id %>" name="selected_hashtag"><%= link_to h.name, root_path(hashtag_id: h.id), { value: h.id } %></li>
            <% end %>

            <%= search_form_for @selected_subjects, url: root_path, html: { class: 'navbar-form navbar-left' } do |f| %>
                <!-- condition_fields를 쓰면 "c"=>{"0"=>{"a"=>{"0"=>{"name"=>"title"}, "1"=>{"name"=>"content"}}, "p"=>"cont", "v"=>{"0"=>{"value"=>"ㅂㄱㅂㅈㄱ"}, "1"=>{"value"=>"ㄷㅈㄱ"}}}} 와 같이 매우 복잡..-->
                <!-- condition_fields를 안쓰고 기본 ransack query 파라미터를 보면.. "q"=>{"agent_eq"=>"", "os_eq"=>"", "is_published_eq"=>"", "title_or_content_cont"=>"ㅂㄱㅂㄱ"} 와 같이 단순 -->
                <%= f.condition_fields do |c| %>
                    <%= c.attribute_fields do |a| %>
                        <%= a.attribute_select({ include_blank: false }, { class: 'selectpicker subject_search_select' }) %>
                    <% end %>
                    <%= c.predicate_select({ compounds: false }, { style: 'display: none;', class: 'subject_search_predicate_select' }) %>
                    <%= c.value_fields do |v| %>
                        <%= v.text_field :value, { class: 'form-control', placeholder: '내용을 입력하세요.' } %>
                    <% end %>
                    <input type="hidden" name="q[selected_hashtag_hidden]" id="selected_hashtag_hidden" />
                    <%= f.submit('검색', { class: 'btn btn-default' }) %>
                <% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '로그인', new_user_session_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
