<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>제목</th>
      <th>글쓴이</th>
      <th>평가액</th>
      <th>날짜</th>
    </tr>
    </thead>
    <tbody class="pointable">
    <% @subjects.each do |subject| %>
        <!--<tr class='subject-clickable-row' data-href=' subject_url(subject)'>-->
        <tr onclick="document.location='<%= subject_url(subject) %>';" >
          <td><%= subject.title %></td>
          <td><%= subject.user_nickname %></td>
          <td><%= subject.average_value %></td>
          <td><%= subject.updated_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="col-lg-8 col-md-8 col-xs-8">
    <div class="text-center">
      <%= paginate @subjects %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4">
    <%= link_to '새로 평가하기', new_subject_path %>
  </div>
</div>