<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :subject_title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :subject_contents %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :subject_user_id %>
  </div>

  <div class="field">
    <%= form.label :user_nickname %>
    <%= form.text_field :user_nickname, id: :subject_user_nickname %>
  </div>

  <div class="field">
    <%= form.label :average_value %>
    <%= form.number_field :average_value, id: :subject_average_value %>
  </div>

  <%= form.fields_for :subject_attachments do |at| %>
    <%= at.file_field :content, multiple: true, name: 'subject_attachments[content][]', class: 'dropzone' %>
  <% end %>

  <div class="actions">
    <%= form.submit 'Create Subject', class: 'btn btn-success-outline' %>
  </div>
<% end %>
