<!--, id: 'fileupload' -->
<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :subject_title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :subject_contents %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :subject_user_id %>
  </div>

  <div class="field">
    <%= form.label :user_nickname %>
    <%= form.text_field :user_nickname, id: :subject_user_nickname %>
  </div>

  <div class="field">
    <label>Category</label>
    <select id="select_hashtag">
      <% hashtags_options.each do |hashtag| %>
          <option value="<%= hashtag.id %>" <% if hashtags_options.first == hashtag %>selected="selected" <% end %>> <%= hashtag.name %></option>
      <% end %>
    </select>
    <input type="hidden" name="subject[hashtag_id]" id="subject_hashtag_id"/>
  </div>

  <div class="row fileupload-buttonbar">
    <div class="col-lg-7">
      <span class="btn btn-success fileinput-button" id="fileupload">
          <i class="glyphicon glyphicon-plus"></i>
          <span>파일 업로드</span>
          <%= form.fields_for :subject_attachments do |at| %>
            <%= at.file_field :content, multiple: true, name: 'subject_attachments[content][]', id: 'fileupload' %>
          <% end %>

      </span>
      <button type="reset" class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel upload</span>
      </button>
      <!-- The global file processing state -->
      <span class="fileupload-process"></span>
    </div>
    <div class="col-lg-5 fileupload-progress fade">
      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
      </div>
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

  <div class="actions">
    <%= form.submit 'Create Subject', class: 'btn btn-success-outline' %>
  </div>
<% end %>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            <!--{% if (!i && !o.options.autoUpload) { %}-->
                <!--<button class="btn btn-primary start" disabled>-->
                    <!--<i class="glyphicon glyphicon-upload"></i>-->
                    <!--<span>Start</span>-->
                <!--</button>-->
            <!--{% } %}-->
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<%= javascript_include_tag 'tmpl.min' %>
<%= javascript_include_tag 'load-image.all.min' %>
<%= javascript_include_tag 'canvas-to-blob.min' %>
<%= javascript_include_tag 'jquery.blueimp-gallery.min' %>
<%= javascript_include_tag 'jquery.iframe-transport' %>
<%= javascript_include_tag 'jquery.fileupload' %>
<%= javascript_include_tag 'jquery.fileupload-process' %>
<%= javascript_include_tag 'jquery.fileupload-image' %>
<%= javascript_include_tag 'jquery.fileupload-audio' %>
<%= javascript_include_tag 'jquery.fileupload-video' %>
<%= javascript_include_tag 'jquery.fileupload-validate' %>
<%= javascript_include_tag 'jquery.fileupload-ui' %>

<script>
    $(function () {
        'use strict';

        $('#fileupload').fileupload({
          add: function(e, data) {
              console.log("testttt");
          }
        });

//        $("#fileupload")
//            .bind('fileuploadadded', function (e, data) {
//                console.log(data);
//            })
//            .bind('fileuploadfailed', function(e, data) {
//                console.log(data);
//            });
    });

    $("input[name='subject_attachments[content][]']").change(function() {
        console.log("attached!!!!!!!!!!!!!");
        console.log($(this).val());
    });
</script>