<%= form_with(model: subject, local: true, html: { multipart: true }) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, 'error') %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>카테고리</label><br>
    <select id="select_hashtag" class="selectpicker" title="평가 카테고리를 고르세요">
      <% hashtags_options.each do |hashtag| %>
          <option value="<%= hashtag.id %>"> <%= hashtag.name %></option>
      <% end %>
    </select>
    <input type="hidden" name="subject[hashtag_id]" id="subject_hashtag_id"/>
  </div>

  <div class="field">
    <%= form.label :title, '제목' %>
    <%= form.text_field :title, id: :subject_title %>
  </div>

  <div class="field">
    <%= form.label :contents, '내용' %>
    <%= form.text_area :contents, id: :subject_contents, data: { upload_url: subject_attachments_path } %>
  </div>

  <%= form.fields_for :subject_attachments do |at| %>
      <%= at.hidden_field :id, name: 'subject_attachments[content]' %>
  <% end %>

  <div class="actions">
    <%= form.submit '저장하기', class: 'btn btn-success' %>
  </div>
<% end %>