<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @subject.title %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= @subject.contents %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @subject.user %>
  </p>

  <p>
    <strong>User nickname:</strong>
    <%= @subject.user_nickname %>
  </p>

  <p>
    <strong>Average value:</strong>
    <%= @subject.average_value %>
  </p>
</div>
<!-- 댓글 영역 -->
<!-- 댓글 목록 -->
<div class="chatContainer">
  <!--<div class="chatTitleContainer">댓글</div>-->
  <div class="chatHistoryContainer">
    <ul class="formComments">
      <% @comments.each do |comment| %>
          <%= render partial: 'subjects/comment', locals: {comment: comment } %>
      <% end %>
    </ul>
  </div>

  <!-- 내 댓글 다는 영역 -->
  <div class="input-group input-group-sm chatMessageControls">
    <span class="input-group-addon" id="sizing-addon3">댓글 작성</span>
    <input type="text" class="form-control" placeholder="내용을 입력하세요." aria-describedby="sizing-addon3" id="commentText">
    <span class="input-group-btn">
      <!--<button id="clearMessageButton" class="btn btn-default" type="button">초기화</button>-->
      <button id="sendMessageButton" class="btn btn-primary" type="button"><i class="fa fa-send"></i>저장</button>
    </span>
    <!--<span class="input-group-btn">-->
      <!--<button id="undoSendButton" class="btn btn-default" type="button" disabled><i class="fa fa-undo"></i>취소</button>-->
    <!--</span>-->
  </div>
</div>
<div class="container">
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
  <%= link_to 'Back', subjects_path %>
</div>
<textarea id="textarea-subject-id" style="display:none;"><%= @subject.id %></textarea>
<textarea id="textarea-user-value" style="display:none;"><%= @user_value_on_subject %></textarea>
