<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @subject.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @subject.user %>
</p>

<p>
  <strong>User nickname:</strong>
  <%= @subject.user_nickname %>
</p>

<p>
  <strong>Average value:</strong>
  <%= @subject.average_value %>
</p>


<!-- 댓글 영역 -->
<h1>Comments</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>User nickname</th>
    <th>Contents</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.subject %></td>
        <td><%= comment.user %></td>
        <td><%= comment.user_nickname %></td>
        <td><%= comment.contents %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<!-- 댓글 목록 -->


<!-- 내 댓글 다는 영역 -->

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
